@charset "UTF-8";

header{
    color: white;
    text-align: center;
}

body{
    background-color: #5dc7eb;
    font: normal 15pt Arial;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
}

select#seletor{
    width: 150px;
}

div{
    padding: 3px;
}

footer{
    color: white;
    text-align: center;
}